@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.news-story{
  @include flex-column;
  @include box(100%, auto);
  position: relative;
  padding: 1rem;
  background: $clr-white;
  border-radius: $radius;
  box-shadow: $dark-shadow;
  margin: 3rem 1rem;
  .title{
    font-size: 1.2rem;
    font-weight: 500;
  }
  .info{
    font-size: 1.1rem;
    margin-bottom:2rem;
  }
  .url{
    text-decoration: none;
    color: $clr-black;
  }
  .button-container{
    position: absolute;
    bottom: 5px;
    width: 100%;
    button{
      margin-left: 40%;
      color: $clr-red-dark;
    }
  }
}

@include tablet{
  .news-story{
    .button-container{
      button{
        margin-left: 75%;
      }
    }
  }
}