@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.tours{
  max-width: $fixed-width;
  margin-bottom: 4rem;
  .title{
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 3rem;
    font-size: 4rem;
    .underline{
      @include box(10rem, 0.25rem);
      background: $clr-primary-4;
      @include center-auto;
    }
  }
}